<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Add ingredients</title>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
      <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />-->
      <!--&lt;!&ndash;[if lte IE 8]><script src="/static/assets/js/ie/html5shiv.js"></script><![endif]&ndash;&gt;-->
      <link rel="stylesheet" href="../assets/css/main.css" />
      <!--&lt;!&ndash;[if lte IE 9]><link rel="stylesheet" href="./assets/css/ie9.css" /><![endif]&ndash;&gt;-->
      <!--&lt;!&ndash;[if lte IE 8]><link rel="stylesheet" href="/static/assets/css/ie8.css" /><![endif]&ndash;&gt;-->
   </head>
   <body ng-app="HelloWorldApp">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
      <script src="../assets/js/addIngredientsController.js"></script>
      <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
         <a href="index.html" class="logo">Water
             <span>  <strong>Score </strong></span>
         </a>
         <nav>
            <a href="#menu">Menu</a>
         </nav>
      </header>
      <section id="one">
          <div class="inner" ng-controller="AddIngredientsController">
            <div class="row">
            <div class="col-xs-12 col-lg-6 col md-6 col-sm-12">
               <header class="major">
                  <h2> Enter your ingredients</h2>
               </header>
               <span>{{foodList}}</span>
                <div class="dropdown dropdown-scroll">
                  <ul>
                     <div class="input-group input-group-sm search-control" style="width:100%;">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                        </span>
                         <input type="text" name="demo-name" id="demo-name" value=""
                                placeholder="What's your next ingredient" ng-model="query">
                     </div>
                     <div ng-show="query != ''" role="presentation" ng-repeat='item in savedIngredients | filter:query'>
                        <a ng-click="addIngredient(item)" href="#"> {{item.ProductName}} </a>
                     </div>
                  </ul>
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-6 col-ms-6">
               <div ng-show="ingredients.length">
                   <div ng-if="ingredients" >
                       <div style="text-transform:uppercase;font-size:45px;">
                           <strong> Total Water Score: </strong>
                           <a class="special"> {{waterAmount}} </a>
                       </div>
                   </div>
                  <ul class="list-unstyled">
                     <li ng-repeat="ingredient in ingredients track by $index" style="font-size:30px;">
                        <div class="row">
                            <div class="col-xs-5 col-lg-8"> {{ingredient.ProductName}}
                                <strong> {{ingredient.WaterCost}} </strong>
                                <span ng-if="ingredient.WaterCost> 500" style="color:red;"> !! </span>
                            </div>
                            <div class="col-xs-5 col-lg-4">
                                <input id="inp{{$index + 1}}" type="number" ng-model="ingredient.amount" value="" ng-change="onLoseFocus()"
                                       placeholder="amount" class="form-control">
                            </div>
                      </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         </div>
      </section>
   </body>
</html>