<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose a Recipe</title>

     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="../assets/js/chooseRecipeController.js"></script>
     <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  href="../assets/css/myCarousel.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style=" background: #7986CB">
<div ng-app = "chooseRecipeApp">
    <div ng-controller = "chooseRecipeController">
    <h1>Choose a Recipe</h1>

    <select name="repeatSelect" id="repeatSelect" ng-model="data.selected_recipe">
      <option ng-repeat="item in Foodrecipes" value="{{item}}">{{item.RecipeName}}</option>
    </select>
    <div>

        <div ng-repeat="item in Foodrecipes">
            {{item.FoodItems}}
        </div>
    </div>


        <!--<div ng-repeat = "i in image">-->
              <!--<p>{{ i.imageName }}</p>-->
        <!--</div>-->



      <!--<div ng-repeat ="i in image">-->

            <!--<div ng-if = " SearchRecipe == i.imageName  "  >{{ i.imageSrc }}-->
                 <!--<img ng-src =  "{{i.imageSrc}}"  width="50%"  height="50%">-->


            <!--</div>-->

      <!--</div>-->



<!--</div>-->

<!--<div class="col-sm-3"></div>-->

<!--{{ Foodrecipes }}-->
         <!--</div>-->

</body>
</html>