<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/main.css" />

</head>
<body>
	<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo">Water  <span>  <strong>Score </strong></span></a>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="actions vertical">
							<li><a href="#" class="button special fit">Get Started</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</nav>
				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>You selected Spaghetti Bolognese!</h1>
								<p></p>
							</header>
                <div class="row">
                  <div class="col-sm-4">
                  <div class="card" style="width: 45rem; border:1px solid white; padding:10px;">
                          <div class="card-block">
                            <h4 class="card-title">Scan PLU</h4>
                            <p class="card-text"> 10 points toward a ski pass !</p>
                            <a href="#" class="button special">Redeem my points! </a>
                          </div>
                    </div>
                  </div>
                   <div class="col-sm-4">
                    <div class="card" style="width: 20rem; border:1px solid white; padding:10px;">
                          <div class="card-block">
                            <h4 class="card-title">Scan a recipe</h4>
                            <p class="card-text"> 25 points toward a ski pass !</p>
                            <a href="#" class="button special">Redeem my points!</a>
                          </div>
                    </div>
                  </div>
                </div>
                        </div>
                    </section>
    </div>
</body>
</html>